.institucional{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 1.7rem;
    text-align: center;

}

.institucional__titulo{
    color: var(--cinza-escuro);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.3rem;
    margin-top: 1.5rem;
    text-transform: uppercase;
}

.institucional__texto{
    color: var(--cinza-escuro);
    margin-bottom: 1.2rem;
}

.institucional__endereco{
    color: var(--fonte-cinza);
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 2rem;
    margin-bottom: 1.2rem;
}

.institucional__texto--telefone{
    color: var(--fonte-cinza);
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 1.2rem;
}

.institucional__texto--link{
    color: var( --fonte-link);
    font-size: 1.1rem;
}

.institucional__video{
    padding-top: 1.6rem;
    max-width: 700px;
    width: 100vw;
}

@media screen and (min-width: 1024px) {
    .institucional__video{
        align-self: flex-start;
        width: 350px;
        padding-top: 0;
    }
    .institucional__conteudo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        width: 100%;
    }
    .institucional__titulo{
        padding-bottom: 2rem;
    }
    .institucional__texto--link{
        display: inline;
    }
}