.rodape{
    align-items: center;
    background-color: var(--bg-rodape); 
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.rodape__logo{
    padding: 1.2rem 0 1.8rem 2.2rem;
}

.rodape__midias{
    display: flex;
    padding: 1.2rem;
    padding-right: 2rem;
}

.rodape__icone{
    display: block;
    height: 42px;
    margin: 1.1rem 1.1rem 1.2rem 1.1rem;
    width: 42px;
}

.rodape__navegacao{
    color: var(--branco);
    line-height: 3rem;
    font-size: 1.1rem;
    text-align: center;
}

.rodape__link{
    display: inline-block;
    margin: 0 .5rem .7rem
}

@media screen and (min-width:1024px) {
    .divisao__footer-1{
        display: flex;
        justify-content: space-between;
        width: 100vw;
    }
    .divisao__footer-2{
        display: flex;
        justify-content: start;
        margin-top: 1rem;
        padding-left: 3.5rem;
        width: 100vw;
    }
}

